@font-face 
{
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
}

:root 
{
    --primary-color: #EDF5FE;
    --white-color: #FAFAFA;
    --primary-ruby-Red-color: #F22225;
    --primary-mirage-color: #0F172A;
    --primary-pureWhite-color: #FFFFFF;
}

html,body 
{
    font-family: Inter;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.navbar 
{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.navbar a 
{
    text-decoration: none;
}

.navbar-home 
{
    width: 20%;
    align-items: center;
    text-align: center;
}

.navbar-home a 
{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: center;
}

.navbar-home-red 
{
    color: var(--primary-ruby-Red-color);
}

.navbar-home-black 
{
    color: var(--primary-mirage-color);
}

#navbarList 
{
    display: flex;
    justify-content: space-around;
    width: 40%;
    text-align: center;
    max-height: none!important;

}

#navbarList a 
{
    color: #757B82;
    margin: 0 1%;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.02em;
    transition: .5s;
}

#navbarList a:hover,
#navbarList a.navbar-list-home 
{
    color: var(--primary-ruby-Red-color);
}
.menu-icon
{
    display: none;
}
.navbar-join 
{
    width: 10%;
    padding: 8px;
    margin-right: 3%;
    border-radius: 8px;
    text-align: center;
    background-color: var(--primary-ruby-Red-color);
}

.navbar-join:hover 
{
    background-color: var(--primary-mirage-color);
    transition: 2s;
}
.navbar-join:hover a
{
    color: var(--primary-ruby-Red-color);
    transition: 2s;
}
.navbar-join a 
{
    color: var(--white-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 0 5%;
}
.secondPart
{
    width: 100%;
    height: 590px;
    display: flex;
    background-color: #EDF5FE;
    margin-bottom: 5%;
}
.secondPart-presentation
{
    margin: 0 0 5% 12%;
    width: 80%;
    height: max-content;
}
.secondPart-presentation-img
{
    position: relative;
    width: 80px;
    height: auto;
    top: 195px;
    right: 120px;
    opacity: 0.1;
}
.secondPart-presentation-hello
{
    font-size: 18px;
    margin: 3% 0;
}
.secondPart-presentation-hello-blackColor
{
    color: var(--primary-mirage-color);
}
.secondPart-presentation-hello-redColor
{
    color: var(--primary-ruby-Red-color);
}
.secondPart-presentation-spec
{
    width: 100%;
    text-align: left;
    font-size: 43px;
}
.secondPart-presentation-lorem
{
    width: 70%;
    font-size: 16px;
    margin: 3% 0;
}
.secondPart-presentation-hire
{
    width: max-content;
    background-color: var(--primary-ruby-Red-color);
    padding: 10px 20px;
    border-radius: 50px;
}
.secondPart-presentation-hire:hover
{
    background-color: var(--primary-mirage-color);
    transition: 2s;
}
.secondPart-presentation-hire:hover svg
{
    color: var(--primary-ruby-Red-color);
    transition: 2s;
}
.secondPart-presentation-hire:hover a
{
    color: var(--primary-ruby-Red-color);
    transition: 2s;
}
.secondPart-presentation-hire a
{
    text-decoration: none;
    font-size: 16px;
    color: var(--primary-color);
}
.secondPart-presentation-hire svg
{
    position: relative;
    top: 5px;
    width: 20px;
    height: auto;
    color: var(--primary-color);
}
.secondPart-image
{
    width: 100%;
    margin-left: 10%;
    text-align: left;
    padding-right: 15%;
}
.secondPart-image-img
{
    position: relative;
    height: 100%;
}
.secondPart-image-img-image0 
{
    position: absolute;
    width: 36%;
    height: 13%;
    top: 83%;
    right: 81%;
    z-index: 5;
}
.secondPart-image-img-image0 img
{
    position: absolute;
    width: 180px;
    z-index: 5;
}
.secondPart-image-img-image1 img
{
    position: absolute;
    width: 400px;
    height: auto;
    margin-top: 10%;
    margin-left: -1.5%;
    z-index: 1;
}
.secondPart-image-img-image2 img
{
    position: absolute;
    width: 350px;
    height: auto;
    margin-top: 15%;
    margin-left: 4%;
    z-index: 2;
}
.secondPart-image-img-image3 img
{
    position: absolute;
    width: 300px;
    height: auto;
    margin-top: 20%;
    margin-left: 9%;
    z-index: 3;
}
.secondPart-image-img-image4 img
{
    position: absolute;
    width: auto;
    height: 100%;
    z-index: 4;
}
.secondPart-image-img-image5 img
{
    position: absolute;
    width: 120px;
    top: 90px;
    left: 300px;
    z-index: 5;
}
.secondPart-presentation-hello-svg1 
{
    position: relative;
    top: 15px;
}

.secondPart-presentation-hello-svg2 
{
    position: relative;
    bottom: 2px;
    right: 7px;
}
.thirdPart
{
    height: auto;
    text-align: center;
    margin-top: -60px;
}
.thirdPart-vector
{
    
    position: relative;
    display: inline-block;
    top: 480px;
    right: 600px;
    width: 3%;
    opacity: 0.2;

}
.thirdPart-vector img
{
    width: 7px;
    height: auto;
    margin: 0 .5%;
}
.thirdPart-header
{
    margin:  0 0 5% 0;
}
.thirdPart-header-top
{
    margin: 0 40%;
    font-size: 16px;
}
.thirdPart-header-top a
{
    text-decoration: none;
}
.thirdPart-header-top-primary
{
    color: var(--primary-mirage-color);
}
.thirdPart-header-top-second
{
    color: var(--primary-ruby-Red-color);
}
.thirdPart-header-bottom
{
    margin: 0 35%;

    color: var(--primary-mirage-color);
    font-size: 40px;
}
.thirdPart-middle
{
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    margin: 0 10%;
}
.thirdPart-middle-part-spec
{
    font-size: 20px;
    margin-bottom: 4%;
}
.thirdPart-middle-part-lorem
{
    color: #757B82;
    font-size: 20px;
    margin-bottom: 4%;
}
.thirdPart-middle-part
{
    color: var(--primary-mirage-color);
    margin: 0 1%;
    box-shadow: 9px 9px 9px 9px #93939321;
    padding: 4%;
}
.thirdPart-middle-part1
{
    color: var(--primary-mirage-color);
    margin: 0 1%;
    box-shadow: 9px 9px 9px 9px #93939321;
    padding: 4%;
}
.thirdPart-middle-part1:hover
{
    background-color: var(--primary-ruby-Red-color);
    color: var(--primary-color);
    transition: 2s;
    transform: scale(1.05);
}

.thirdPart-middle-part1-spec
{
    font-size: 20px;
    margin-bottom: 4%;
}
.thirdPart-middle-part1-lorem
{
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 4%;
}
.thirdPart-middle-part1:hover .thirdPart-middle-part1-lorem,
.thirdPart-middle-part1
{
    background-color: var(--primary-ruby-Red-color);
    color: var(--primary-color);
}
.thirdPart-middle-part1:hover .thirdPart-middle-part1-read a
{
    background-color: var(--primary-ruby-Red-color);
    color: var(--primary-color);
}
.thirdPart-middle-part1-img img
{
    width: 70px;
    height: 70px;
    color: var(--primary-ruby-Red-color);
}
.thirdPart-middle-part1-read a
{
    font-size: 20px;
    text-decoration: none;
    color: var(--primary-color)
}
.thirdPart-middle-part:hover
{
    color: var(--primary-color);
    background-color: var(--primary-ruby-Red-color);
    transition: 2s;
    transform: scale(1.05);
}
.thirdPart-middle-part:hover a
{
    color: var(--primary-color);
    transition: 2s;
}
.thirdPart-middle-part:hover .thirdPart-middle-part-lorem
{
    color: var(--primary-color);
    transition: 2s;
}
.thirdPart-middle-part-img img
{
    width: 70px;
    height: 70px;
    color: var(--primary-ruby-Red-color);
}
.thirdPart-middle-part-read a
{
    font-size: 22px;
    text-decoration: none;
    color: var(--primary-ruby-Red-color);
}
.fourthPart
{
    margin: 0 10%;
    height: 100%;
}
.fourthPart-vector
{
    position: relative;
    display: inline-block;
    width: 3%;
    left: 1140px;
    top: 480px;
    opacity: 0.2;
}
.fourthPart-vector img
{
    width: 25px;
}
.fourthPart-presentation
{
    display: flex;
    width: 100%;
    height: 50%;
}
.fourthPart-presentation-img
{
    width: 50%;
    display: flex;
}
.fourthPart-presentation-img-firstPart
{
    width: 60%;
    margin-right: 2%;
}
.fourthPart-presentation-img-firstPart img
{
    width: 300px;
    height: auto;
    border-radius: 8px;
}
.fourthPart-presentation-img-secondPart
{
    width: 100%;
    margin-left: 2%;
}
.fourthPart-presentation-img-secondPart-uno
{
    height: 50%;
}
.fourthPart-presentation-img-secondPart-uno img
{
    width: 200px;
    height: auto;
    border-radius: 8px; 
}
.fourthPart-presentation-img-secondPart-secondo
{
    height: 100%;
}
.fourthPart-presentation-img-secondPart-secondo img
{
    width: 200px;
    height: auto; 
    border-radius: 8px; 
}
.fourthPart-presentation-lorem
{
    width: 100%;
    text-align: left;
    margin-left: 6%;
}
.fourthPart-presentation-lorem-about
{
    font-size: 20px;
}
.fourthPart-presentation-lorem-about-blackColor
{
    color: var(--primary-mirage-color);
}
.fourthPart-presentation-lorem-about-redColor
{
    color: var(--primary-ruby-Red-color);
}
.fourthPart-presentation-lorem-paragraph-first
{
    font-size: 40px;
    margin-bottom: 5%;
}
.fourthPart-presentation-lorem-paragraph-second
{
    font-size: 20px;
    color: #757B82;
}
.fourthPart-presentation-lorem-download
{
    margin-top: 8%;
    width: max-content;
    padding: 2%;
    background-color: var(--primary-ruby-Red-color);
    border-radius: 50px;
}
.fourthPart-presentation-lorem-download:hover
{
    color: var(--primary-ruby-Red-color);
    background-color: var(--primary-mirage-color);
    transition: 2s;
}
.fourthPart-presentation-lorem-download:hover a
{
    color: var(--primary-ruby-Red-color);
    transition: 2s;
}
.fourthPart-presentation-lorem-download a
{
    font-size: 20px;
    text-decoration: none;
    color: var(--primary-color);
}
.fourthPart-pourcent
{
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
}
.fourthPart-pourcent-first, .fourthPart-pourcent-second, .fourthPart-pourcent-third, .fourthPart-pourcent-fourth
{
    text-align: center;
    box-shadow: 8px 8px 8px 8px #93939321;
    margin: 2%;
    padding: 2%;
}
.fourthPart-pourcent-first div, .fourthPart-pourcent-second div, .fourthPart-pourcent-third div, .fourthPart-pourcent-fourth div
{
    color: var(--primary-mirage-color);
    font-size: 24px;
}
.fourthPart-pourcent img
{
    width: 183px;
    height: 183px;
}
.fifthPart
{
    margin: -20% 10% 0 10%;
}
.fifthPart-vectorLeft
{
    position: relative;
    display: inline-block;
    width: 3%;
    top: 930px;
    right: 100px;
    opacity: 0.2;
}
.fifthPart-vectorLeft img
{
    width: 25px;
}
.fifthPart a
{
    text-decoration: none;
    color: var(--primary-ruby-Red-color);
}
.fifthPart-header
{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}
.fifthPart-header-icons
{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.fifthPart-header-icons:hover
{
    color: var(--primary-ruby-Red-color);
    transition: 1s;
}
.fifthPart-header-icons div
{
    border: 1px solid #DDDDDD;
    height: max-content;
    margin: 0 2%;
    padding: 5%;
}
.fifthPart-header-icons div:hover
{
    border: 1px solid var(--primary-ruby-Red-color);
    transition: 1s;
}
.fifthPart-header-icons div:hover svg
{
    color: var(--primary-ruby-Red-color);
    transition: 1s;
}
.fifthPart-header-icons svg
{
    color: #DDDDDD;
}
.fifthPart-header-about
{
    margin-left: 6%;
}
.fifthPart-header-about-firstPart
{
    font-size: 20px;
}
.fifthPart-header-about-secondPart
{
    font-size: 40px;
    margin-bottom: 2%;
}
.fifthPart-header-about-blackColor
{
    color: var(--primary-mirage-color);
}
.fifthPart-header-about-redColor
{
    color: var(--primary-ruby-Red-color);
}
.fifthPart-middle-projects
{
    display: flex;
    justify-content: space-between;
}
.fifthPart-middle-projects-illustration
{
    text-align: left; 
    box-shadow: 3px 3px 3px 3px #93939321; 
    margin: 0 1%; 
}
.fifthPart-middle-projects-illustration-img
{
    text-align: center;
}
.fifthPart-middle-projects-illustration-img img
{
    width: 340px;
    height: auto;
}
.fifthPart-middle-projects-illustration-name
{
    font-size: 22px;
    margin: 4% 5%;
    color: var(--primary-ruby-Red-color);
}
.fifthPart-middle-projects-illustration-compaign
{
    font-size: 26px;
    margin: 0 5%;
    margin-bottom: 4%;
    color: var(--primary-mirage-color);
}
.fifthPart-middle-projects-illustration-lorem
{
    font-size: 20px;
    margin: 0 5%;
    margin-bottom: 4%;
    color: #757B82;
}
.fifthPart-middle-projects-illustration-views
{
    position: relative;
    font-size: 20px;
    margin: 0 5%;
    margin-bottom: 4%;
}
.fifthPart-middle-projects-illustration-views svg
{
    position: absolute;
    top: 3px;
}
.fifthPart-footer
{
    font-size: 20px;
    text-align: center;
    padding: 1%;
    background-color: var(--primary-ruby-Red-color);
    margin: 5% 40%;
    border-radius: 50px;
}
.fifthPart-footer a
{
    color: var(--primary-color);
}
.fifthPart-footer:hover
{
    background-color: var(--primary-mirage-color);
    transition: 2s;
}
.fifthPart-footer:hover a
{
    color: var(--primary-ruby-Red-color);
    transition: 2s;
}
.fifthPart-vectorRight
{
    position: relative;
    width: 80px;
    left: 1100px;
    bottom: 480px;
    opacity: 0.1;
}
.sixthPart
{
    margin: 0 10%;
}
.sixthPart-vectorLeft
{
    position: relative;
    width: 80px;
    top: 550px;
    right: 120px;
    opacity: 0.1;
}
.sixthPart-first
{
    text-align: center;
    margin: 5%;
}
.sixthPart-header
{
    font-size: 20px;
}
.sixthPart-header-blackColor
{
    color: var(--primary-mirage-color);
}
.sixthPart-header-redColor
{
    color: var(--primary-ruby-Red-color);
}
.sixthPart-title
{
    font-size: 40px;
}
.sixthPart-nav
{
    display: inline;
    justify-content: space-around;
}
.sixthPart-nav a
{
    text-decoration: none;
    color: #000000;
    margin: 0 .3%;
    font-size: 20px;
}
.sixthPart-nav a:hover, .sixthPart-nav-primary
{
    border-bottom: 1px solid var(--primary-ruby-Red-color);
    transition: 1s;
}
.sixthPart-middle-partOne
{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    margin: 1% 0;
}
.sixthPart-middle-partTwo
{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    margin: 1% 0;
}
.sixthPart-middle-partOne-img-function, .sixthPart-middle-partTwo-img-function
{
    font-size: 20px;
}
.sixthPart-middle-partOne-img-spec, .sixthPart-middle-partTwo-img-spec
{
    font-size: 16px;
    color: #757B82;
    margin: 2% 0;
}
.sixthPart-middle-partOne-img-function, .sixthPart-middle-partOne-img-spec
{
    margin: 5% 0 0 5%;
}
.sixthPart-middle-partTwo-img-function, .sixthPart-middle-partTwo-img-spec
{
    margin: 5% 0 0 5%; 
}
.sixthPart-middle-partOne-img, .sixthPart-middle-partTwo-img
{
    width: 100%;
    box-shadow: 3px 3px 3px 3px rgb(206, 206, 206);
    margin: 0 1%;
}
.sixthPart-middle-partOne-img-spec, .sixthPart-middle-partTwo-img-spec
{
    margin-top: 1%;
}
.sixthPart-middle-partOne-img-image, .sixthPart-middle-partTwo-img-image
{
    text-align: center;
    margin: 2% .5%;
}
.sixthPart-middle-partOne-img-image img
{
    width: 310px;
    height: auto;
    border-radius: 5px;
}
.sixthPart-middle-partTwo-img-image img
{
    width: 310px;
    height: auto;
    border-radius: 5px;
}
.sixthPart-vectorRight
{
    position: relative;
    width: 80px;
    left: 1100px;
    bottom: 100px;
    opacity: 0.1;
}
.seventhPart
{
    background-color: #F2F6F7;
}
.seventhPart-quoteLeft
{
    position: relative;
    top: 110px;
    left: 50px;
}
.seventhPart-quoteLeft img
{
    width: 100px;
}
.seventhPart-body
{
	margin: 0 10%;
}
.seventhPart-header
{
	text-align: center;
    margin: 5%;
}
.seventhPart-header-name
{
    font-size: 20px;
}
.seventhPart-header-name-blackColor
{
    color: var(--primary-mirage-color);
}
.seventhPart-header-name-redColor
{
    color: var(--primary-ruby-Red-color);
}
.seventhPart-header-title
{
    font-size: 40px;
}
.seventhPart-middle
{
	display: flex;
}
.seventhPart-middle-PartOne-lorem, .seventhPart-middle-PartTwo-lorem
{
    color: #757B82;
    font-size: 20px;
    margin: 3%;
    padding: 3%;
    border: 1px solid #93939321;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #93939321;
    background-color: #FFFFFF;
}
.seventhPart-middle-PartOne-lorem-img img, .seventhPart-middle-PartTwo-lorem-img img
{
    height: 20px;
    width: 16px;
    color: #0F172A;
}
.seventhPart-middle-img img
{
    position: relative;
    bottom: 19px;
    left: 30px;
    height: 16px;
    width: 16px;
    color: #0F172A;
}
.seventhPart-middle-PartOne-img, .seventhPart-middle-PartTwo-img
{
	display: flex;
    width: 80%;
    margin-left: 3%;
}
.seventhPart-middle-PartOne-img img, .seventhPart-middle-PartTwo-img img
{
	width: 80px;
	height: 80px;
}
.seventhPart-middle-PartOne-img-PartTwo-name, .seventhPart-middle-PartTwo-img-partTwo-name
{
    font-size: 20px;
    margin-top: 20%;
}
.seventhPart-middle-PartOne-img-partTwo-function, .seventhPart-middle-PartTwo-img-partTwo-function
{
    font-size: 18px;
    color: #757B82; 
    margin-top: 2%; 
}
.seventhPart-middle-PartOne-img-partTwo-function img, .seventhPart-middle-PartTwo-img-partTwo-function img
{
    width: auto;
    height: 15px;
}
.seventhPart-middle-PartOne-img-PartTwo 
{
    margin-left: 3%;
}
.seventhPart-middle-PartTwo-img-partTwo
{
    margin-left: 3%;
}
.seventhPart-quoteRight
{
    position: relative;
    left: 1200px;
}
.seventhPart-quoteRight img
{
    width: 100px;
}
.seventhPart-vectorBottomRight
{
    position: relative;
    width: 3%;
    left: 1250px;
    top: 180px;
    opacity: 0.2;
}
.seventhPart-vectorBottomRight img
{
    width: 7px;
}
.eightPart
{
    margin: 10%;
    display: flex;
    justify-content: space-around;
}
.eightPart-formular
{
    width: 60%;
}
.eightPart-formular-header
{
    width: 100%;
}
.eightPart-formular-header-name
{
    font-size: 20px;
}
.eightPart-formular-header-name-blackColor
{
    color: var(--primary-mirage-color);
}
.eightPart-formular-header-name-redColor
{
    color: var(--primary-ruby-Red-color);
}
.eightPart-formular-header-title
{
    font-size: 40px;
    margin: 3%;
}
.eightPart-formular-header-title-border
{
    border-bottom: 1px solid var(--primary-ruby-Red-color);
}
.eightPart-formular-middle
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.eightPart-formular-middle-PartOne
{
    width: 50%; 
    margin: 0 10px 0 0;
}
.eightPart-formular-middle-PartTwo
{
    width: 50%; 
}
.eightPart-formular-middle input
{
    width: 100%;
    margin: 4% 0;
    font-size: 20px;
    padding: 0;
    line-height: 2em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    outline: none;
}
.eightPart-formular-middle input:hover
{
    border-color: #499AFA;
    transition: 1s;
}
.eightPart-formular-middle input:hover, .eightPart-formular-middle-PartOne-name
{
    border-color: #499AFA;
}
.eightPart-formular-endForm
{
    margin: 4% 0;
}
.eightPart-formular-endForm input
{
    width: 100%;
    line-height: 2em;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px; 
    outline: none;   
}
.eightPart-formular-endForm input:hover
{
    border-color: #499AFA;
    transition: 1s;
}
.eightPart-img
{
    text-align: left;
    width: 40%;
    height: auto;
}
.eightPart-img img
{
    width: 320px;
    height: auto;
}
.eightPart-formular-footer
{
    width: max-content;
    font: 20px;
    background-color: var(--primary-ruby-Red-color);
    padding: 2%;
}
.eightPart-formular-footer:hover
{
    color: var(--primary-ruby-Red-color);
    background-color: var(--primary-mirage-color);
    transition: 2s;
}
.eightPart-formular-footer img
{
    height: 10px;
    width: 10px;
}
.ninethPart
{
    margin: -10% 10% 10% 10%;
}
.ninethPart-vectorLeftRight
{
    position: relative;
    width: 3%;
    left: 1125px;
    top: 850px;
    opacity: 0.2;
}
.ninethPart-vectorLeftRight img
{
    width: 7px;
}
.ninethPart-vectorLeft
{
    position: relative;
    width: 3%;
    right: 80px;
    bottom: 150px;
    margin-bottom: -450px;
    opacity: 0.2;
}
.ninethPart-vectorLeft img
{
    width: 25px;
}
.ninethPart-header
{
    text-align: center;
    margin: 5%;
}
.ninethPart-header-name
{
    font-size: 20px;
    margin: 1%;
}
.ninethPart-header-name-blackColor
{
    color: var(--primary-mirage-color);
}
.ninethPart-header-name-redColor
{
    color: var(--primary-ruby-Red-color);
}
.ninethPart-header-title
{
    font-size: 40px;
}
.ninethPart-body
{
    display: flex;
    justify-content: space-between;
}
.ninethPart-middle
{
    box-shadow: 4px 4px 4px 4px #93939321;
    border-radius: 10px;
    margin: 0 1%;
}
.ninethPart-middle-img img
{
    width: 340px;
    height: auto;
}
.ninethPart-middle-title
{
    font-size: 20px;
    color: var(--primary-ruby-Red-color);
    margin: 3% 5%;
}
.ninethPart-middle-name
{
    font-size: 30px;
    color: var(--primary-mirage-color);
    margin: 3% 5%;
}
.ninethPart-middle-lorem
{
    font-size: 20px;
    color: #757B82;
    margin: 3% 5%;
}
.ninethPart-middle-footer
{
    margin-bottom: 5%;
}
.ninethPart-middle-footer a
{
    font-size: 20px;
    text-decoration: none;
    color: var(--primary-ruby-Red-color);
    margin: 3% 5%;
}
.footerPart
{
    background-color: #12141E;
    text-align: center;
    padding: 5%;
}
.footerPart-header
{
    font-size: 40px;
}
.footerPart-header-redColor
{
    color: var(--primary-ruby-Red-color);
}
.footerPart-header-whiteColor
{
    color: var(--primary-color);
}
.footerPart-footer
{
    margin: 2%;
}
.footerPart-body
{
    margin-top: 2%;
}
.footerPart-body a
{
    text-decoration: none;
    font-size: 20px;
    color: var(--primary-color);
    border-right: 2px solid var(--primary-color);
    padding: 0 .5%;
}
.footerPart-footer img
{
    width: 20px;
    height: 20px;
    margin: 0 1%;
    background-color: var(--primary-ruby-Red-color);
    padding: .3%;
    border-radius: 50px;
}
.footerPart-line
{
    border-bottom: .5px solid var(--primary-color);
}







@media  screen and (max-width:768px) {
    html, body
    {
        width: 100%;
        overflow-x: hidden;
    }
    .navbar-home
    {
        width: 100%;
        text-align: center;
        margin-left: 10%;
    }
    .navbar-home a
    {
        font-size: 40px;
    }
    .menu-icon
    {
        position: absolute;
        right: 95%;
        display: block;
        width: 35px;
        height: auto;
    }
    #navbarList
    {
        width: 100%;
        flex-direction: column;
        text-align: right;
        margin: 0;
        position: absolute;
        text-align: left;
        top: 23%;
        background-color: blueviolet;
        overflow: hidden;
        transition: .5s;
        z-index: 5;
    }
    .navbar-join
    {
        width: max-content;
    }
    .secondPart
    {
        flex-direction: column;
        height: 750px;
    }
    .secondPart-presentation-hello-svg1, .secondPart-presentation-hello-svg2
    {
        z-index: 1;
    }
    .secondPart-presentation
    {
        margin: 0 10% 10% 10%;
    }
    .secondPart-presentation-img
    {
        right: 13%;
    }
    .secondPart-presentation-spec
    {
        width: 100%;
        font-size: 30px;
    }
    .secondPart-presentation-lorem
    {
        width: 70%;
        font-size: 20px;
        margin: 3% 0;
    }
    .secondPart-image
    {
        margin-left: 0;
        text-align: center;
        height: 100%;
    }
    .secondPart-image-img
    {
        height: 100%;
        width: 55%;
    }
    .secondPart-image-img-image0 
    {
        position: absolute;
        width: 17%;
        height: 13%;
        top: 83%;
        right: 43%;
        z-index: 5;
    }
    .secondPart-image-img-image0 img
    {
        position: relative;
        width: 120px;
    }
    .secondPart-image-img-image1 img
    {
        width: 300px;
        height: auto;
        margin-top: -8%;
    }
    .secondPart-image-img-image2 img
    {
        width: 250px;
        margin-top: -5%;
        margin-left: 3.5%;
    }
    .secondPart-image-img-image3 img
    {
        width: 200px;
        margin-top: -2%;
        margin-left: 7%;
    }
    .secondPart-image-img-image4 img
    {
        width: auto;
        height: 100%;
    }
    .secondPart-image-img-image5 
    {
    position: inherit;
    width: 24%;
    height: auto;
    margin-left: 69%;
    }
    .secondPart-image-img-image5 img 
    {
        position: absolute;
        width: 100px;
        top: 0px;
        left: 100px;
        z-index: 5;
    }
    .thirdPart-vector
    {
        width: 5%;
        right: 330px;
        top: 400px;
    }
    .thirdPart-header-top
    {
        margin: 0 30%;
    }
    .thirdPart-header-bottom
    {
        margin: 0 20%;
        font-size: 30px;
    }
    .thirdPart-middle
    {
        flex-direction: column;
    }
    .thirdPart-middle-part, .thirdPart-middle-part1{
        padding: 10%;
    }
    .fourthPart-vector
    {
        left: 620px;
    }
    .fourthPart-presentation-lorem-paragraph-first {
        font-size: 30px;
    }
    .fourthPart-presentation
    {
        flex-direction: column-reverse;

    }
    .fourthPart-presentation-lorem
    {
        margin-left: 0;
        margin-bottom: 10%;
    }
    .fourthPart-presentation-lorem-download
    {
        margin-top: 3%;
    }
    .fourthPart-presentation-img
    {
        flex-direction: column;
        width: 100%;
    }
    .fourthPart-presentation-img-firstPart
    {
        width: 100%;
        height: auto;
    }
    .fourthPart-presentation-img-firstPart img
    {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .fourthPart-presentation-img-secondPart
    {
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
    }
    .fourthPart-presentation-img-secondPart-uno img, .fourthPart-presentation-img-secondPart-secondo img
    {
        width: 100%;
    }
    .fourthPart-pourcent
    {
        flex-wrap: wrap;
    }
    .fourthPart-pourcent img
    {
        width: 50%;
        height: auto;
    }
    .fourthPart-pourcent-first div, .fourthPart-pourcent-second div, .fourthPart-pourcent-third div, .fourthPart-pourcent-fourth div
    {
        font-size: 22px;
    }
    .fifthPart-header-about-secondPart
    {
        font-size: 30px;
    }
    .fifthPart-middle-projects
    {
        flex-direction: column;
    }
    .fifthPart-middle-projects-illustration-img img
    {
        width: 99%;
    }
    .sixthPart-title
    {
        margin: 5% 0;
    }
    .sixthPart-middle-partOne, .sixthPart-middle-partTwo
    {
        flex-direction: column;
    }
    .fifthPart-footer
    {
        margin: -10% 25% 5% 25%;
        padding: 2%;
    }
    .sixthPart-middle-partOne-img-image img, .sixthPart-middle-partTwo-img-image img
    {
        width: 93%;
    }
    .eightPart
    {
        margin-bottom: 15%;
        flex-direction: column;
    }
    .eightPart-img
    {
        width: 100%;
    }
    .eightPart-img img
    {
        width: 100%;
    }
    .eightPart-formular
    {
        width: 100%;
        margin-top: 10%;
    }
    .ninethPart
    {
        margin: -75% 10% 10% 10%;
    }
    .ninethPart-body
    {
        flex-direction: column;
    }
    .ninethPart-middle-img img
    {
        width: 98%;
    }
    .ninethPart-middle-img
    {
        text-align: center;
    }
    .footerPart
    {
        padding: 15%;
    }   
}




@media only screen and (min-width:769px) and (max-width:1100px) {
    .navbar
    {
        align-items: center;
    }
    .navbar-join
    {
        width: 12%;
    }
    .secondPart
    {
        height: 540px;
    }.secondPart-presentation-spec
    {
        font-size: 34px;
    }
    .secondPart-image 
    {
        width: 100%;
        margin-left: 0;
        text-align: left;
        padding-right: 30%;
    }
    .thirdPart-header-bottom
    {
        margin: 0 20%;
    }
    .fourthPart-presentation
    {
        flex-direction: column-reverse;
    }
    .fourthPart-presentation-lorem
    {
        margin-left: 0;
    }
    .fourthPart-presentation-img
    {
        width: 100%;
        margin-top: 10%;
    }
    .fourthPart-presentation-img-firstPart
    {
        width: 70%;
    }
    .fourthPart-presentation-img-firstPart img
    {
        width: 100%;
    }
    .fourthPart-presentation-img-secondPart
    {
        width: 30%;
    }
    .fourthPart-presentation-img-secondPart-uno
    {
        width: 100%;
        height: 35%;
    }
    .fourthPart-presentation-img-secondPart-secondo
    {
        width: 100%;
        height: 50%;
    }
    .fourthPart-presentation-img-secondPart-uno img, .fourthPart-presentation-img-secondPart-secondo img
    {
        width: 100%;
        height: auto;
    }
    .fourthPart-pourcent
    {
        display: block;
    }
    .fifthPart-middle-projects
    {
        flex-direction: column;
    }
    .fifthPart-middle-projects-illustration-img img
    {
        width: 99%;
    }
    .sixthPart-middle-partOne, .sixthPart-middle-partTwo
    {
        flex-direction: column;
    }
    .fifthPart-footer
    {
        margin: -7% 36% 5% 36%;
        padding: 2%;
    }
    .sixthPart-middle-partOne-img-image img, .sixthPart-middle-partTwo-img-image img
    {
        width: 93%;
    }
    .eightPart
    {
        margin-bottom: 15%;
        flex-direction: column;
    }
    .eightPart-img
    {
        width: 100%;
    }
    .eightPart-img img
    {
        width: 100%;
    }
    .eightPart-formular
    {
        width: 100%;
        margin-top: 10%;
    }
    .ninethPart
    {
        margin: -15% 10% 10% 10%;
    }
    .ninethPart-vectorLeft
    {
        right: 60px;
    }
    .seventhPart-quoteRight
    {
        left: 800px;
    }
    .ninethPart-body
    {
        flex-direction: column;
    }
    .ninethPart-middle-img img
    {
        width: 98%;
    }
    .ninethPart-middle-img
    {
        text-align: center;
    }
    .footerPart
    {
        padding: 15%;
    }   
}
 